@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";

// Modules
@import 'modules/header.scss';
@import 'modules/greeting.scss';

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
  color: #4f565b;
  max-width: 100%;
  overflow: hidden;
}
