@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";

// Modules
@import 'modules/header.scss';
@import 'modules/greeting.scss';
@import 'modules/section-title.scss';
@import 'modules/my-work.scss';
@import 'modules/education.scss';
@import 'modules/about-me.scss';
@import 'modules/footer.scss';

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
  color: $mainFontColor;
  overflow-x: hidden;
}
