<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <% for (css in htmlWebpackPlugin.files.css) { %>
    <link
    href="<%= htmlWebpackPlugin.files.css[css] %>"
    rel="stylesheet">
  <% } %>
  <title>Alex Ismailov</title>
</head>
<body>
  <header class="header">
    <div class="container">
      <div class="row">
        <div class="col-5">
          <div class="header--logo">Alis</div>
        </div>
        <div class="col-7">
          <nav>
            <ul class="header--menu">
              <li>HOME</li>
              <li>MY WORK</li>
              <li>EDUCATION</li>
              <li>CONTACT</li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <main>
    <div class="container">
      <div class="row">
        <div class="col">
          <section class="greeting">
            <div class="greeting--bg-layer-1">
              <div class="greeting--bg-layer-2">
                <div class="greeting--bg-layer-3">
                  <h1>Hello! I am Alex Ismailov</h1>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </main>



  <% for (index in htmlWebpackPlugin.files.js) { %>
    <script src="<%= htmlWebpackPlugin.files.js[index] %>" type="text/javascript"></script>
  <% } %>
</body>
</html>
