<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <% for (css in htmlWebpackPlugin.files.css) { %>
    <link
    href="<%= htmlWebpackPlugin.files.css[css] %>"
    rel="stylesheet">
  <% } %>
  <title>Alex Ismailov</title>
</head>
<body>
  <header class="header">
    <div class="container">
      <div class="row">
        <div class="col-5">
        </div>
        <div class="col-7">
          <nav>
            <ul class="header--menu">
              <li class="header--menu-item header--menu-item-active">HOME</li>
              <li class="header--menu-item">MY WORK</li>
              <li class="header--menu-item">EDUCATION</li>
              <li class="header--menu-item">CONTACT</li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <main>
    <section class="greeting">
      <div class="greeting--bg-layer-1">
        <div class="greeting--bg-layer-2">
          <div class="greeting--bg-layer-3">
            <div class="container">
              <div class="greeting--content">
                <p class="greeting--greet">Hello, I'm</p>
                <h1 class="greeting--title">Alex Ismailov</h1>
                <div class="greeting--divider"></div>
                <p class="greeting--text">I am a frontend developer</p>
                <ul class="greeting--butttons-list">
                  <li>
                    <a class="greeting--button" href="#">read more</a>
                  </li>
                  <li>
                    <a class="greeting--button" href="#">download cv</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="greeting--bg-layer-4">
            <div class="container">
              <div class="greeting--quote">
                <span class="greeting--quote-sign"><i class="fas fa-quote-right"></i></span>
                <blockquote>
                  <p class="greeting--quote-text">
                    What a computer is to me is the most remarkable tool that we have ever come up with.
                    <br>
                    It's the equivalent of a bicycle for our minds.
                    <br>
                    <span class="greeting--quote-author">Steve jobs</span>
                  </p>
                </blockquote>
              </div>
            </div>
          </div>
          <div class="greeting--bg-layer-5"></div>
        </div>
      </div>
    </section>
    <section class="my-work">
      <div class="section-title">
        <p class="section-title--small-head">Portfolio</p>
        <h2 class="section-title--head">Recent projects</h2>
        <div class="section-title--divider"></div>
      </div>
      <div class="container">
        <div class="row">
          <div class="my-work--card-wrapper">
            <article class="my-work--card">
              <div class="my-work--img-container">
                <img class="my-work--card-img" src="/assets/img/brain-game-logo.png" alt="diff-img.png">
              </div>
              <h3 class="my-work--card-title">card title</h3>
              <p class="my-work--card-description">card title Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque eius harum voluptatum laudantium impedit natus.</p>
            </article>
            <article class="my-work--card">
              <div class="my-work--img-container">
                <img class="my-work--card-img" src="/assets/img/diff-img.png" alt="diff-img.png">
              </div>
              <h3 class="my-work--card-title">card title</h3>
              <p class="my-work--card-description">card title Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque eius harum voluptatum laudantium impedit natus.</p>
            </article>
          </div>
        </div>
      </div>
    </section>
    <section class="education">
      <div class="section-title">
        <p class="section-title--small-head">My</p>
        <h2 class="section-title--head">Education</h2>
        <div class="section-title--divider"></div>
      </div>
    </section>
    <section class="about-me">
      <div class="section-title">
        <p class="section-title--small-head">A Few Words</p>
        <h2 class="section-title--head">About me</h2>
        <div class="section-title--divider"></div>
      </div>
    </section>
  </main>
  <footer class="footer">
    <div class="section-title">
      <p class="section-title--small-head section-title--small-head-footer-color">Let’s Talk!</p>
      <h2 class="section-title--head section-title--head-footer-color">Get in Touch!</h2>
    </div>
    <div class="footer--content">
      <!-- <div class="offset-block"></div> -->
      <div class="footer--email-wrapper">
        <!-- icon -->
        <div><i class="far fa-envelope"></i></div>
        <p class="footer--email">alexx-ismailov@gmail.com</p>
      </div>
      <div class="footer--links-wrapper">
        <!-- linkedin -->
        <i class="fab fa-linkedin-in"></i>
        <!-- fb -->
        <i class="fab fa-facebook-f"></i>
        <!-- twitter -->
        <i class="fab fa-twitter"></i>
        <!-- pinterest -->
        <i class="fab fa-pinterest-p"></i>
        <!-- vk -->
        <i class="fab fa-vk"></i>
        <!-- telegram -->
        <i class="fab fa-telegram-plane"></i>
      </div>
    </div>
  </footer>

  <% for (index in htmlWebpackPlugin.files.js) { %>
    <script src="<%= htmlWebpackPlugin.files.js[index] %>" type="text/javascript"></script>
  <% } %>
</body>
</html>
