<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <% for (css in htmlWebpackPlugin.files.css) { %>
    <link
    href="<%= htmlWebpackPlugin.files.css[css] %>"
    rel="stylesheet">
  <% } %>
  <title>Alex Ismailov</title>
</head>
<body>
  <header class="header">
    <div class="container">
      <div class="row">
        <div class="col-5">
        </div>
        <div class="col-7">
          <nav>
            <ul class="header--menu">
              <li class="header--menu-item">HOME</li>
              <li class="header--menu-item">MY WORK</li>
              <li class="header--menu-item">EDUCATION</li>
              <li class="header--menu-item">CONTACT</li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <main>
    <div class="">
      <div class="row">
        <div class="col">
          <section class="greeting">
            <div class="greeting--bg-layer-1">
              <div class="greeting--bg-layer-2">
                <div class="greeting--bg-layer-3">
                  <div class="container">
                    <div class="greeting--content">
                      <p class="greeting--greet">Hello, I'm</p>
                      <h1 class="greeting--title">Alex Ismailov</h1>
                      <div class="greeting--divider"></div>
                      <p class="greeting--text">I am a frontend developer</p>
                      <ul class="greeting--butttons-list">
                        <li>
                          <a class="greeting--button" href="#">read more</a>
                        </li>
                        <li>
                          <a class="greeting--button" href="#">download cv</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="greeting--bg-layer-4">
                  <div class="container">
                    <div class="greeting--quote">
                      <span class="greeting--quote-sign"><i class="fas fa-quote-right"></i></span>
                      <blockquote>
                        <p class="greeting--quote-text">
                          What a computer is to me is the most remarkable tool that we have ever come up with.
                          <br>
                          It's the equivalent of a bicycle for our minds.
                          <br>
                          <span class="greeting--quote-author">Steve jobs</span>
                        </p>
                      </blockquote>
                    </div>
                  </div>
                </div>
                <div class="greeting--bg-layer-5"></div>
              </div>

            </div>

          </section>
        </div>
      </div>
    </div>
  </main>



  <% for (index in htmlWebpackPlugin.files.js) { %>
    <script src="<%= htmlWebpackPlugin.files.js[index] %>" type="text/javascript"></script>
  <% } %>
</body>
</html>
