.greeting {
  height: 100vh;

  &--bg-layer-1 {
    background: linear-gradient(to bottom left, #dfdcdb 50%, transparent 0%); // rgba(104,109,114,0.06)
    height: 70%;
  }

  &--bg-layer-2 {
    height: 100vh;
    background: url('../../assets/img/konduki-my-face-HD-1345-1345.png');
    background-size:contain;
    background-repeat: no-repeat;
    background-position: right;

  }

  &--bg-layer-3 {
    height: 20%;
    position: relative;
    top: 55%;
    background: linear-gradient(to top right, #1e2528 49.5%, transparent 50%);
  }

  &--greet {
    color: rgba(104,109,114,0.50);
    font-size: 24px;
  }

  &--content {
    position: absolute;
    // bottom: 150%;
    bottom: 150px;
    width: 450px;
  }

  &--title {
    font-size: 48px;
    color: #4f565b;
  }

  &--divider {
    background-image: linear-gradient(160deg,#8300e9 0%,#00e2db 88%);
    height: 4px;
    margin-bottom: 15px;
    border-radius: 4px;
    width: 20%;
  }

  &--butttons-list {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: 15px 0 0 0;
    list-style: outside none;
  }

  &--button {
    display: block;
    text-decoration: none;
    color: #ffffff;
    border-radius: 5px;
    letter-spacing: 2px;
    font-size: 15px;
    padding: 10px 20px;
    line-height: 23px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    background-image: linear-gradient(160deg,#8300e9 0%,#00e2db 100%);
    transition: all 300ms ease 0ms;
  }

  &--button:hover {
    color: #fff;
    transform: scale(1.05) translateY(-3px);
    box-shadow: 1px 15px 35px -10px rgba(0,0,0,0.4);
  }

  &--text {
    font-weight: 300;
    font-size: 34px;
    color: rgba(104,109,114,0.45)
  }

  &--bg-layer-4 {
    background: #1e2528;
    height: 15%;
    position: relative;
    top: 54.9%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
  }

  &--quote {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 80%;
  }

  &--quote-sign {
    position: relative;
    left: 15px;
    bottom: 50px;
    font-size: 60px;
    color: rgba(255,255,255,0.14);
  }

  &--quote-text {
    margin: 0;
    color: #fff;
    font-family: 'Montserrat-Light', sans-serif;
    font-size: 25px;
    line-height: 36px;
  }

  &--quote-author {
    color: rgba(255,255,255, 0.30);
    text-transform: uppercase;
    font-size: 15px;
  }

  &--bg-layer-5 {
    height: 11%;
    position: relative;
    top: 54.7%;
    background: linear-gradient(to bottom right, #1e2528 49%, #fff 50%);
  }
}
